body {
  height: auto;
}
.container {
  width: 300px;
  height: auto;
  border: 1px solid #000;
  box-shadow: 2px 2px 2px 1px;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  margin: 5% auto;
  align-self: center;
  text-align: center;
  background-color: rgb(188, 246, 227);
}
input {
  padding: 10px;
  width: 200px;
  margin-bottom: 10px;
  font-size: 15px;
}
select {
  padding: 10px;
  width: 220px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #939292;
}
option {
  border-radius: 0px;
  color: #000;
}
.login-button {
  margin: 30px 0px 10px;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #000;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(0, 104, 139);
}
.login-button:hover {
  background-color: rgb(5, 127, 168);
}
.close {
  position: absolute;
  right: 10px;
  top: 0px;
  cursor: pointer;
}
p {
  line-height: 0;
  font-size: 18px;
}
.password {
  font-size: 14px;
  color: blue;
  text-align: right;
  margin: 0px 40px;
  margin-top: 0px;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .container {
    width: 80%;
    padding: 15px;
    margin: 10% auto;
  }

  input,
  select {
    width: 70%;
    font-size: 14px;
  }

  .login-button {
    padding: 8px 15px;
    font-size: 16px;
  }

  .password {
    margin: 0px 10px;
    text-align: right;
  }

  p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 60%;
    padding: 10px;
    margin: 10% auto;
  }

  input,
  select {
    width: 70%;
    font-size: 14px;
  }

  .login-button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .password {
    margin: 0px 10px;
    text-align: right;
    font-size: 12px;
  }

  p {
    font-size: 14px;
  }
}
